@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap");

* {
  font-family: "Sora";
  margin: 0%;
  padding: 0%;
  /* width: 100vw; */
}

html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
}


.navbar {
  z-index: 999999999;
  width: 100vw;
  height: auto;
  position: fixed;
  align-items: center;
  background-color: #A9907E;
  display: flex;
  justify-content: space-between;
  /* padding: 0 30px; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0%;
}

.navbar ul li a {
  margin: 20px 26px;

  /* text */
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;

}

.navbar ul li a::after {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.navbar ul li a:hover {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #f9e4cc;
  text-decoration: none;
  transform: scale(1.2);
  transition: 0.3s;
}

.navbar .left {
  margin: 29px 0;
  margin-left: 80px;
}

.navbar .right {
  margin: 14px 0;
}

.navbar .profile {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background: #42290E;
  border-radius: 100px;
  margin-right: 80px;

  /* text */
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.navbar .profile:hover {
  background: #f9e4cc;
  color: #42290E;
  transition: 0.3s;

}

.navbar .hamburger {
  display: none;
}

.navbar .dropdownHid {
  display: none;
}

.navbar .dropdown {
  color: #fff;
  position: absolute;
  top: 60px;
  right: 5vw;
  display: block;
  width: 180px;
  height: auto;
  background-color: #5b4732;
}

.navbar .dropdown ul {
  list-style: none;
  display: block;
}

.navbar .dropdown ul li {
  display: block;
}

.navbar .dropdown ul li a {
  color: #fff;
}


/* SECTION 1 */
.section-1 {
  min-height: 50vw;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  background: linear-gradient(180deg, #6A503D 0%, rgba(217, 217, 217, 0) 100%);
}

.section-1 .left {
  padding-left: 5vw;
  width: 40vw;
}

.section-1 .right {
  display: flex;
  margin: auto;
  padding-top: 150px;
  justify-content: center;
  width: 50vw;
}

.section-1 .subtitle {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.section-1 .title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #000000;
}

.section-1 .desc {
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  opacity: 0.9;
}

.section-1 .pict {
  width: 80%;
}

/* SECTION 2 */
.section-2 {
  display: flex;
  align-items: center;
  margin: auto;
  padding-bottom: 50px;
  background: #F3DEBA;
}

.section-2 .box {
  margin: auto;
  width: 388px;
}

.section-2 .image {
  width: 230px;
  height: 230px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.section-2 .title {
  margin-bottom: 13px;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.section-2 .desc {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  opacity: 0.9;
}


/* FOOTER */
.footer {
  /* background: #A97E88; */
  text-align: center;
  width: 100vw;
}

.footer .whole {
  padding: 30px 80px 40px 80px;
}

.footer .title {
  font-weight: 700;
  font-size: 38.5146px;
  line-height: 120%;
  color: #42290E;
}

.footer .desc a {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  color: #000000;
  margin-top: 30px;
}

.footer .kontak {
  /* display: flex; */
  margin: 0;
  float: right;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 120%;
  color: #000000;
  padding-right: 30px;
}

.footer .kontak.hid {
  display: none;
}

.footer .bottom {
  margin-top: 15px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

.footer .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  margin-top: 24px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .section-1 {
    display: block;
    padding-bottom: 25px;
  }

  .section-1 .left {
    padding-top: 120px;
    width: 80vw;
  }

  .section-1 .right {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70vw;
  }

  .section-2 {
    display: block;
  }

  .section-2 .box {
    width: 90vw;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .section-2 .image {
    width: 13vw;
  }

  .section-2 .title {
    font-size: 20px;
    display: block;
    min-width: 10vw;
    margin-right: 20px;
  }
}

@media screen and (max-width: 800px) {

  /* NAVBAR */
  .navbar .left {
    margin-left: 5vw;
  }

  .navbar .center {
    display: none;
  }

  .navbar .right {
    display: none;
  }

  .navbar .hamburger {
    display: block;
    margin-right: 5vw;
  }

  .navbar .hamburger2 {
    transform-origin: top left;
    display: block;
    transform: rotate(90deg);
  }

  /* SECTION 1 */
  .section-1 {
    width: 100vw;
    display: block;
    padding-top: 130px;
    padding-left: 0;
  }

  .section-1 .left {
    width: 86vw;
    padding-left: 7vw;
  }

  .section-1 .title {
    font-size: 45px;
  }

  .section-1 .desc {
    font-size: 18px;
  }

  .section-1 .right {
    /* margin-top: 0px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding-left: 15px; */
    /* margin-top: 50px; */
    width: 90vw;
    /* padding-left: 9.5vw; */
  }

  /* SECTION 2 */
  .section-2 {
    display: block;
  }

  .section-2 .box {
    width: 90vw;
    margin-bottom: 30px;
  }

  .section-2 .desc {
    font-size: 18px;
    text-align: justify;
  }

  /* FOOTER  */
  .footer .bottom {
    display: block;
  }

  .footer .text {
    margin-bottom: 10px;
  }

  .footer .kontak.show {
    display: none;
  }

  .footer .kontak.hid {
    padding: 0%;
    text-align: center;
    float: none;
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
  }
}