@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

* {
    font-family: 'Sora';
    margin: 0%;
    padding: 0%;
    /* width: 100vw; */
}

html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}


/* NAVBAR  */
.navbar {
    z-index: 999999999;
    width: 100vw;
    height: auto;
    position: fixed;
    align-items: center;
    background-color: #A9907E;
    display: flex;
    justify-content: space-between;
    /* padding: 0 30px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0%;
}

.navbar ul li a {
    margin: 20px 26px;

    /* text */
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;

}

.navbar ul li a::after {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #f9e4cc;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.3s;
}

.navbar .left {
    margin: 29px 0;
    margin-left: 80px;
}

.navbar .right {
    margin: 14px 0;
}

.navbar .profile {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background: #42290E;
    border-radius: 100px;
    margin-right: 80px;

    /* text */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.navbar .profile:hover {
    background: #f9e4cc;
    color: #42290E;
    transition: 0.3s;

}

.navbar .hamburger {
    display: none;
}

.navbar .dropdownHid {
    display: none;
}

.navbar .dropdown {
    color: #fff;
    position: absolute;
    top: 60px;
    right: 5vw;
    display: block;
    width: 180px;
    height: auto;
    background-color: #5b4732;
}

.navbar .dropdown ul {
    list-style: none;
    display: block;
}

.navbar .dropdown ul li {
    display: block;
}

.navbar .dropdown ul li a {
    color: #fff;
}

/* SECTION 2 */

.section-2 {
    min-height: 70vh;
    width: 100vw;
    height: auto;
    padding-top: 70px;
    display: flex;
}

.section-2 .whole {
    height: auto;
    align-items: center;
    width: 100vw;
    display: flex;
    padding: 150px 0 100px 0;
    /* padding-bottom: 400px; */
    background: linear-gradient(180deg, rgba(64, 30, 5, 0.81) 0%, #FFFFFF 100%);
    justify-content: space-around;
}

.section-2 .left {
    transform: translateY(-50px);
    /* margin-top: 24px; */
    /* margin-left: 10%; */
    width: 40vw;
}

.section-2 .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #000000;
}

.section-2 .desc {
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    color: #000000;
    opacity: 0.9;
}

.section-2 .right {
    transform: translateY(-50px);
    /* margin-left: 10vw; */
    display: flex;
    width: 40vw;
}

.section-2 .pict {
    width: 35vw;
    margin: 0;
}


/* SECTION 3 */
.section-3 {
    margin-top: 10px;
    background: #F2E2D6;
    /* background-color: #A9907E; */
    height: auto;
}

.section-3 .card {
    /* padding: 10% 30px; */
    padding: 10px 15px 10PX 10PX;
    padding-bottom: 0;
    width: 520px;
    height: 262px;
    background: transparent;
    border: 1px solid #42290E;
    border-radius: 23px;
    justify-content: center;
}

.section-3 .atas {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 135px;
    padding-top: 69px;
}

.section-3 .bawah {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 135px;
}

.section-3 .top {
    margin-top: 3%;
    display: flex;
    justify-content: center;

}

.section-3 .left {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* margin-right: 26px; */
    justify-content: center;

}

.section-3 .image {
    width: 80px;
    height: 84px;
}

.section-3 .name {
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 6px;
}

.section-3 .title {
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
}

.section-3 .right {
    display: flex;
    justify-content: center;
    width: 70%;
}

.section-3 .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.section-3 a {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    background: #42290E;
    border-radius: 100px;
    align-items: center;
    padding: 12px 14px;
    text-decoration: none;

    /* text */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/* FOOTER */
.footer {
    /* background: #A97E88; */
    text-align: center;
    width: 100vw;
}

.footer .whole {
    padding: 30px 80px 40px 80px;
}

.footer .title {
    font-weight: 700;
    font-size: 38.5146px;
    line-height: 120%;
    color: #42290E;
}

.footer .desc a {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    color: #000000;
    margin-top: 30px;
}

.footer .kontak {
    /* display: flex; */
    margin: 0;
    float: right;
    font-weight: 700;
    font-size: 22.5px;
    line-height: 120%;
    color: #000000;
    padding-right: 30px;
}

.footer .kontak.hid {
    display: none;
}

.footer .bottom {
    margin-top: 15px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.footer .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin-top: 24px;
}

@media screen and (max-width: 1300px) and (min-width: 800px) {

    /* SECTION 2 */
    .section-2 .whole {
        display: block;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 20px;
    }

    .section-2 .left {
        width: 80vw;
    }

    .section-2 .right {
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .section-2 .pict {
        margin-top: 35px;
        width: 80%;
    }


    /* SECTION 3 */
    .section-3 .atas {
        display: block;
        margin-bottom: 0;
    }

    .section-3 .bawah {
        display: block;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .section-3 .card {
        margin: auto;
        width: 80vw;
        max-width: 600px;
        margin-bottom: 50px;
        height: auto;
        padding-bottom: 13px;
    }

    .section-3 .name {
        margin-bottom: 0;
    }

    .section-3 .title {
        font-size: 12px;
    }

    .section-3 .desc {
        margin-left: 5px;
        padding: 5px;
        font-size: 18px;
    }

    .section-3 button {
        display: flex;
        justify-content: center;
        margin: 10px auto;
        height: 20px;
    }
}

@media screen and (max-width: 800px) {

    /* NAVBAR */
    .navbar .left {
        margin-left: 5vw;
    }

    .navbar .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: block;
        margin-right: 5vw;
    }

    .navbar .hamburger2 {
        transform-origin: top left;
        display: block;
        transform: rotate(90deg);
    }

    /* SECTION 2 */
    .section-2 {
        display: block;
    }

    .section-2 .whole {
        /* padding-left: 5vw;
        padding-right: 5vw; */
        padding-bottom: 10px;
    }

    .section-2 .left {
        padding-left: 5vw;
    }

    .section-2 .right {
        width: 90vw;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .section-2 .pict {
        margin-top: 25px;
        width: 90%;
    }

    .section-2 .whole {
        padding-top: 90px;
        display: block;
    }

    .section-2 .title {
        width: 85vw;
        font-size: 34px;
    }

    .section-2 .desc {
        margin-top: 10px;
        width: 80vw;
        font-size: 16px;
    }


    /* SECTION 3 */
    .section-3 .atas {
        display: block;
        margin-bottom: 0;
    }

    .section-3 .bawah {
        display: block;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .section-3 .card {
        margin: auto;
        width: 80vw;
        max-width: 500px;
        margin-bottom: 50px;
        height: auto;
    }

    .section-3 .name {
        margin-bottom: 0;
    }

    .section-3 .title {
        font-size: 12px;
    }

    .section-3 .desc {
        margin-left: 5px;
        padding: 5px;
        font-size: 14px;
    }

    .section-3 button {
        display: flex;
        justify-content: center;
        margin: 10px auto;
        height: 20px;
    }

    /* FOOTER  */
    .footer .bottom {
        display: block;
    }

    .footer .text {
        margin-bottom: 10px;
    }


    .footer .kontak.show {
        display: none;
    }

    .footer .kontak.hid {
        padding: 0%;
        text-align: center;
        float: none;
        display: block;
        margin-bottom: 10px;
        font-size: 17px;
    }
}