@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

* {
    font-family: 'Sora';
    margin: 0%;
    padding: 0%;
    /* width: 100vw; */
}

html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}


/* NAVBAR  */
.navbar {
    z-index: 999999999;
    width: 100vw;
    height: auto;
    position: fixed;
    align-items: center;
    background-color: #A9907E;
    display: flex;
    justify-content: space-between;
    /* padding: 0 30px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0%;
}

.navbar ul li a {
    margin: 20px 26px;

    /* text */
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;

}

.navbar ul li a::after {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #f9e4cc;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.3s;
}

.navbar .left {
    margin: 29px 0;
    margin-left: 80px;
}

.navbar .right {
    margin: 14px 0;
}

.navbar .profile {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background: #42290E;
    border-radius: 100px;
    margin-right: 80px;

    /* text */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.navbar .profile:hover {
    background: #f9e4cc;
    color: #42290E;
    transition: 0.3s;

}

.navbar .hamburger {
    display: none;
}

.navbar .dropdownHid {
    display: none;
}

.navbar .dropdown {
    color: #fff;
    position: absolute;
    top: 60px;
    right: 5vw;
    display: block;
    width: 180px;
    height: auto;
    background-color: #5b4732;
}

.navbar .dropdown ul {
    list-style: none;
    display: block;
}

.navbar .dropdown ul li {
    display: block;
}

.navbar .dropdown ul li a {
    color: #fff;
}



/* HERO */
.hero {
    display: flex;
    width: 100vw;
    height: auto;
    background: linear-gradient(180deg, #6A503D 0%, rgba(217, 217, 217, 0) 100%);
}

.whole-hero {
    align-items: center;
    justify-content: space-around;
    padding: 150px 5vw;
    display: flex;
    width: 100vw;
    height: auto;
}

.hero .left {
    width: 35vw;
}

.hero .right {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 55vw;
}

.hero h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #000000;
}

.hero .pict {
    width: 80%;
}



/* SECTION 1 */
.section-1 {
    padding: 100px 0 50px 0;
    display: flex;
    height: auto;
    min-height: 300px;
}

.section-1 .left {
    padding-left: 5vw;
    width: 30vw;
}

.section-1 .main {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
}

.section-1 .right {
    padding-right: 5vw;
    width: 60vw;
}

.section-1 .dropdown {
    padding: 12px;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
}

.section-1 .atas {
    display: flex;
    justify-content: space-between;
}

.section-1 .atas .title {
    font-weight: 700;
    font-size: 22.5px;
    line-height: 120%;
    color: #000000;
}

.section-1 .atas img {
    width: 32px;
    height: 32px;
}

.section-1 .hidden {
    display: none;
    transition: 3s;
}

.section-1 .active {
    margin-top: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    display: flex;
    transition: 3s;
}

.section-1 .hidden1 {
    background-color: white;
}

.section-1 .active1 {
    display: block;
    background: linear-gradient(0deg, #F2E2D6, #F2E2D6), linear-gradient(0deg, #0E2D58, #0E2D58), #102542;
    border-radius: 8px;
}

/* DUA  */

.section-1 .hidden2 {
    display: none;
    transition: 3s;
}

.section-1 .active2 {
    margin-top: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    display: flex;
    transition: 3s;
}

.section-1 .hidden3 {
    background-color: white;
}

.section-1 .active3 {
    display: block;
    background: linear-gradient(0deg, #F2E2D6, #F2E2D6), linear-gradient(0deg, #0E2D58, #0E2D58), #102542;
    border-radius: 8px;
}

/* TIGA */

.section-1 .hidden5 {
    display: none;
    transition: 3s;
}

.section-1 .active5 {
    margin-top: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    display: flex;
    transition: 3s;
}

.section-1 .hidden4 {
    background-color: white;
}

.section-1 .active4 {
    display: block;
    background: linear-gradient(0deg, #F2E2D6, #F2E2D6), linear-gradient(0deg, #0E2D58, #0E2D58), #102542;
    border-radius: 8px;
}


/* SECTION 2 */
.section-2 {
    width: 100vw;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: auto;
    background: #F2E2D6;
}


.section-2 .whole {
    width: 100vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.section-2 .left {
    padding-left: 5vw;
    width: 35vw;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
}

.section-2 .right {
    /* padding-right: 5vw; */
    width: 50vw;
}

.section-2 .inputbox {
    margin: auto;
    width: 50vw;
}

.section-2 input {
    margin-bottom: 10px;
    color: #fff;
    align-items: flex-start;
    padding: 2px 16px;
    width: 43vw;
    height: 58px;
    background: #000000;
    border-radius: 100px;
}
.section-2 textarea{
    padding: 2px 16px;
    margin-bottom: 10px;
    color: #fff;
    align-items: flex-start;
    width: 43vw;
    height: 78px;
    background: #000000;
    border-radius: 28px;
}

.section-2 button {
    margin-top: 20px;
    align-items: center;
    padding: 18px 26px;
    width: 105px;
    height: 60px;
    background: #42290E;
    border-radius: 100px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.section-2 .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    display: flex;
    align-items: center;
    color: #000000;
}

/* FOOTER */
.footer {
    /* background: #A97E88; */
    text-align: center;
    width: 100vw;
}

.footer .whole {
    padding: 30px 80px 40px 80px;
}

.footer .title {
    font-weight: 700;
    font-size: 38.5146px;
    line-height: 120%;
    color: #42290E;
}

.footer .desc a {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    color: #000000;
    margin-top: 30px;
}

.footer .kontak {
    /* display: flex; */
    margin: 0;
    float: right;
    font-weight: 700;
    font-size: 22.5px;
    line-height: 120%;
    color: #000000;
    padding-right: 30px;
}

.footer .kontak.hid {
    display: none;
}

.footer .bottom {
    margin-top: 15px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.footer .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin-top: 24px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {

    /* HERO */
    .hero {
        display: block;
        padding-top: 150px;
    }

    .whole-hero {
        width: 90vw;
        display: block;
        padding: 0 5vw;
    }

    .hero .left {
        width: 100%;
    }

    .hero h3 {
        font-size: 35px;
    }

    .hero .right {
        width: 100%;
    }

    /* SECTION 2 */
    .section-2 {
        justify-content: space-around;
    }

    .section-2 .whole {
        width: 100vw;
        justify-content: space-around;
    }

    .section-2 .left {
        padding: 0;
        width: 25vw;
        font-size: 35px;
    }

    .section-2 input {
        width: 100%;
        height: 48px;
    }

    .section-2 .title {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {

    /* NAVBAR */
    .navbar .left {
        margin-left: 5vw;
    }

    .navbar .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: block;
        margin-right: 5vw;
    }

    .navbar .hamburger2 {
        transform-origin: top left;
        display: block;
        transform: rotate(90deg);
    }

    /* HERO */
    .hero {
        display: block;
        padding-top: 130px;
        padding-bottom: 50px;
    }

    .whole-hero {
        width: 90vw;
        display: block;
        padding: 0 5vw;
    }

    .hero .left {
        width: 100%;
    }

    .hero h3 {
        font-size: 35px;
    }

    .hero .right {
        margin-top: 25px;
        width: 100%;
    }

    /* SECTION 1 */
    .section-1 {
        display: block;
    }

    .section-1 .left {
        padding: 0%;
        margin: auto;
        width: 80vw;
        margin-bottom: 20px;
    }

    .section-1 .main {
        text-align: center;
        font-size: 33px;
    }

    .section-1 .right {
        padding: 0%;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    .section-1 .dropdown {
        display: flex;
        /* max-width: 60vw; */
        padding: 12px;
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        justify-content: center;
    }

    .section-1 .atas {
        width: 100%;
    }

    .section-1 .atas .title {
        font-size: 20px;
    }

    .section-1 .active,
    .section-1 .active2,
    .section-1 .active5 {
        margin-top: 15px;
        font-size: 14px;
    }

    .section-1 .active1,
    .section-1 .active3,
    .section-1 .active4 {
        display: block;
    }

    /* SECTION 2 */
    .section-2 {
        display: block;
        margin: auto;
    }

    .section-2 .whole {
        display: block;
    }

    .section-2 .left {
        margin: 0%;
        padding: 0 4vw;
        width: 90vw;
        margin-bottom: 30px;
    }

    .section-2 .title {
        font-size: 16px;
    }

    .section-2 h3 {
        font-size: 28px;
        text-align: center;
    }

    .section-2 .right {
        margin: auto;
        padding: 0%;
        width: 90vw;
    }

    .section-2 form {
        padding: 0 5vw;
    }

    .section-2 .inputbox {
        width: 90%;
    }

    .section-2 input {
        width: 92%;
        height: 38px;
    }

    .section-2 .btn {
        display: flex;
        justify-content: flex-end;
    }

    .section-2 button {
        font-size: 16px;
        padding: 16px 20px;
        width: auto;
        height: auto;
    }

    /* FOOTER  */
    .footer .bottom {
        display: block;
    }

    .footer .text {
        margin-bottom: 10px;
    }


    .footer .kontak.show {
        display: none;
    }

    .footer .kontak.hid {
        padding: 0%;
        text-align: center;
        float: none;
        display: block;
        margin-bottom: 10px;
        font-size: 17px;
    }
}