@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');


* {
    font-family: 'Sora';
    margin: 0%;
    padding: 0%;
    /* width: 100vw; */
}

body {
    max-width: 100vw;
}

/* NAVBAR */
.navbar {
    z-index: 999999999;
    width: 100vw;
    height: auto;
    position: fixed;
    align-items: center;
    background-color: #A9907E;
    display: flex;
    justify-content: space-between;
    /* padding: 0 30px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0%;
}


.navbar ul li a {
    margin: 20px 26px;

    /* text */
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;

}

.navbar ul li a::after {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #f9e4cc;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.3s;
}

.navbar .left {
    margin: 29px 0;
    margin-left: 80px;
}

.navbar .right {
    margin: 14px 0;
}

.navbar .profile {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background: #42290E;
    border-radius: 100px;
    margin-right: 80px;

    /* text */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}


/* SECTION 1 */
.section1 {
    width: 100vw;
    height: auto;
    background-color: #F2E2D6;
    padding: 100px 0px 51px 0px;
}

.section1 .whole {
    margin: 0 80px;
}

.section1 .title {
    margin: 58px 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
}

.section1 .semua-box {
    display: flex;
    justify-content: space-around;
}

.section1 .box {
    padding: 32px;
    box-sizing: border-box;
    width: 620px;
    height: 384px;
    background: #F3DEBA;
    border-radius: 20px;
}

.section1 .atas {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.section1 .icon {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    background: #DF939D;
    border-radius: 80px;
}

.section1 .keterangan {
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.section1 .total {
    display: flex;
    align-items: baseline;
}

.section1 .harga {
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    color: #000000;
}

.section1 .per {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: #000000;
}

.section1 hr {
    margin: 32px 0;
    opacity: 0.5;
}

.section1 .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.section1 button {
    width: 100%;
    text-align: center;
    margin-top: 32px;
    background: #42290E;
    border-radius: 100px;
    padding: 14px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/* SECTION 2 */
.section2 {
    width: 100vw;
    height: auto;
}

.section2 .whole {
    margin: 0 30px;
}

.section2 .title {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
}

.section2 img {
    width: 56px;
    height: auto;
}

.section2 .semua-box {
    display: block;
    margin-bottom: 145px;
}

.section2 .atas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

.section2 .bawah {
    display: flex;
    justify-content: space-around;

}

.section2 .box {
    display: flex;
    padding: 24px;
    width: 400px;
    height: auto;
    background: linear-gradient(0deg, #F2E2D6, #F2E2D6), linear-gradient(0deg, #0E2D58, #0E2D58), #102542;
    border-radius: 12px;
}

.section2 .text {
    margin-left: 24px;
}

.section2 .nama {
    font-weight: 700;
    font-size: 22.5px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 8px;
}

.section2 .desc a{
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    opacity: 0.9;
}

/* FOOTER */
.footer {
    background: #A97E88;
    text-align: center;
    width: 100vw;
}

.footer .whole {
    padding: 30px 80px 40px 80px;
}

.footer .title {
    font-weight: 700;
    font-size: 38.5146px;
    line-height: 120%;
    color: #42290E;
}

.footer .desc {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    color: #000000;
    margin-top: 30px;
}

.footer .bottom {
    display: flex;
    justify-content: space-between;
}

.footer .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin-top: 24px;
}