@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

* {
    font-family: 'Sora';
    margin: 0%;
    padding: 0%;
    /* width: 100vw; */
}

html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}

.navbar {
    z-index: 999999999;
    width: 100vw;
    height: auto;
    position: fixed;
    align-items: center;
    background-color: #A9907E;
    display: flex;
    justify-content: space-between;
    /* padding: 0 30px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0%;
}

.navbar ul li a {
    margin: 20px 26px;

    /* text */
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;

}

.navbar ul li a::after {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #f9e4cc;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.3s;
}

.navbar .left {
    margin: 29px 0;
    margin-left: 80px;
}

.navbar .right {
    margin: 14px 0;
}

.navbar .profile {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background: #42290E;
    border-radius: 100px;
    margin-right: 80px;

    /* text */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.navbar .profile:hover {
    background: #f9e4cc;
    color: #42290E;
    transition: 0.3s;
}

.navbar .hamburger {
    display: none;
}

.navbar .hamburger2 {
    display: none;
}

.navbar .dropdownHid {
    display: none;
}

.navbar .dropdown {
    color: #fff;
    position: absolute;
    top: 60px;
    right: 5vw;
    display: block;
    width: 180px;
    height: auto;
    background-color: #5b4732;
}

.navbar .dropdown ul {
    list-style: none;
    display: block;
}

.navbar .dropdown ul li {
    display: block;
}

.navbar .dropdown ul li a {
    color: #fff;
}

/* Carousel */

.carousel-part {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 2vw; */
    padding-top: 120px;
    padding-bottom: 50px;
    /* padding-left: 5vw; */
    /* margin-top: 100px; */
    width: 100vw;
    min-height: 50vh;
    height: auto;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 5%; */
    width: 100%;
    height: 100%;
    position: relative;
    /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); */
    /* margin-top: 26px; */
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 90vw;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    width: 90vw;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    margin: auto;
    display: block;
    width: 90vw;
    height: 400px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}



/* SECTION 2 */
.section-2 {
    width: 100vw;
    height: auto;
    background: #F2E2D6;
    display: flex;
    /* padding-left: 2.5vw;
    padding-right: 1vw; */
    padding-bottom: 50px;
}

.section-2 .left {
    padding-top: 3%;
    width: 52vw;
    display: flex;
}

.section-2 .pict {
    width: 30vw;
    margin: auto;
    min-width: 500px;
}

.section-2 .right {
    align-items: center;
    transform: translateX(-3vw);
    padding: 50px 0;
    width: 45vw;
}

.section-2 .box {
    padding: 0px 10px;
    display: flex;
    margin: 20px 0;
}

.section-2 .pict1 {
    margin-right: 24px;
    min-width: 200px;
    width: 208px;
    height: 140px;
    border: 1px solid #000000;
    border-radius: 32px;
}

.section-2 .icon1 {
    padding: 10px;
    margin-top: 20px;
    margin-right: 24px;
    width: 15px;
    height: 12px;
    background: #ABC4AA;
    border-radius: 80px;
}

.section-2 .text1 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 22.5px;
    line-height: 120%;
    color: #000000;
}

.section-2 .text2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    opacity: 0.9;
}


/* FOOTER */
.footer {
    /* background: #A97E88; */
    text-align: center;
    width: 100vw;
}

.footer .whole {
    padding: 30px 80px 40px 80px;
}

.footer .title {
    font-weight: 700;
    font-size: 38.5146px;
    line-height: 120%;
    color: #42290E;
}

.footer .desc a {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    color: #000000;
    margin-top: 30px;
}

.footer .kontak {
    /* display: flex; */
    margin: 0;
    float: right;
    font-weight: 700;
    font-size: 22.5px;
    line-height: 120%;
    color: #000000;
    padding-right: 30px;
}

.footer .kontak.hid {
    display: none;
}

.footer .bottom {
    margin-top: 15px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.footer .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin-top: 24px;
}

@media screen and (max-width: 1200px)and (min-width: 800px) {
    .section-2 {
        display: block;
    }

    .section-2 .left {
        justify-content: center;
        display: flex;
        margin: auto;
        width: 90vw;
        padding-top: 100px;
    }

    .section-2 .right {
        margin: auto;
        width: 90vw;
        padding-left: 7vw;
    }

    /* FOOTER */
    .footer .desc {
        margin-bottom: 15px;
    }

    .footer .text {
        margin-top: 0;
    }

    .footer .kontak.show {
        display: none;
    }

}

@media screen and (max-width: 800px) {

    /* NAVBAR */
    .navbar .left {
        margin-left: 5vw;
    }

    .navbar .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: block;
        margin-right: 5vw;
    }

    .navbar .hamburger2 {
        transform-origin: top left;
        display: block;
        transform: rotate(90deg);
    }

    /* CAROUSEL  */

    .carousel-item img {
        height: 250px;
    }

    /* SECTION 2 */
    .section-2 {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100vw;
        display: block;
    }

    .section-2 .left {
        width: 100vw;
        height: auto;
    }

    .section-2 .right {
        padding-top: 25px;
        transform: translate(0);
        width: 100vw;
        height: auto;
        padding-bottom: 25px;
    }

    .section-2 .pict {
        width: 70vw;
        min-width: 0px;
    }

    .section-2 .box {
        width: 90vw;
        margin: auto;
        margin-bottom: 20px;
    }

    .section-2 .pict1 {
        height: auto;
        width: 25vw;
        border: none;
        margin-right: 15px;
    }

    .section-2 .icon1 {
        display: none;
    }

    .section-2 .text {
        width: 80vw;
    }

    .section-2 .text1 {
        font-size: 20px;
    }

    .section-2 .text2 {
        margin-top: 8px;
        font-size: 13px;
    }

    /* FOOTER  */
    .footer .bottom {
        display: block;
    }

    .footer .text {
        margin-bottom: 10px;
    }


    .footer .kontak.show {
        display: none;
    }

    .footer .kontak.hid {
        padding: 0%;
        text-align: center;
        float: none;
        display: block;
        margin-bottom: 10px;
        font-size: 17px;
    }

}

@media screen and (max-width: 450px) {

    /* NAVBAR */
    .navbar .left {
        margin-left: 5vw;
    }

    .navbar .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    /* CAROUSEL  */
    .carousel-part {
        padding-top: 100px;
        width: 100%;
        height: 100%;
    }

    /* CAROUSEL  */

    .carousel-item img {
        height: 200px;
    }

    /* SECTION 2 */
    .section-2 {
        width: 100vw;
        display: block;
    }

    .section-2 .left {
        width: 100vw;
        height: auto;
    }

    .section-2 .right {
        transform: translate(0);
        width: 100vw;
        height: auto;
        padding-bottom: 50px;
    }

    .section-2 .text1 {
        padding-top: 0px;
    }

    .section-2 .mainPict {
        position: relative;
        display: flex;
        justify-content: center;
        width: 50vw;
        margin: auto;
        margin-top: 30px;
    }

    .section-2 .dots {
        position: absolute;
        top: 400px;
        left: 30vw;
        /* transform: translateX(70vw) translateY(-100px); */
        width: 15vw;
    }

    .section-2 .circle {
        display: none;
    }

    .section-2 .box {
        width: 90vw;
        min-height: 130px;
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-2 .pict1 {
        display: flex;
        align-items: center;
        width: 40vw;
        min-width: 0px;
        height: 106px;
        border: none;
        margin-right: 15px;
    }

    .section-2 .icon1 {
        display: none;
    }

    .section-2 .text {
        width: 80vw;
    }

    .section-2 .text1 {
        font-size: 20px;
    }

    .section-2 .text2 {
        margin-top: 8px;
        font-size: 13px;
    }

    /* FOOTER  */
    .footer .bottom {
        display: block;
    }

    .footer .text {
        margin-bottom: 10px;
    }

    .footer .kontak.show {
        display: none;
    }

    .footer .kontak.hid {
        padding: 0%;
        text-align: center;
        float: none;
        display: block;
        margin-bottom: 10px;
        font-size: 17px;
    }
}