@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

* {
    font-family: 'Sora';
    margin: 0%;
    padding: 0%;
    /* width: 100vw; */
}

html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}


/* NAVBAR */
.navbar {
    z-index: 999999999;
    width: 100vw;
    height: auto;
    position: fixed;
    align-items: center;
    background-color: #A9907E;
    display: flex;
    justify-content: space-between;
    /* padding: 0 30px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0%;
}


.navbar ul li a {
    margin: 20px 26px;

    /* text */
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;

}

.navbar ul li a::after {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #f9e4cc;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.3s;
}

.navbar .left {
    margin: 29px 0;
    margin-left: 80px;
}

.navbar .right {
    margin: 14px 0;
}

.navbar .profile {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background: #42290E;
    border-radius: 100px;
    margin-right: 80px;

    /* text */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.navbar .profile:hover {
    background: #f9e4cc;
    color: #42290E;
    transition: 0.3s;

}

.navbar .hamburger {
    display: none;
}

.navbar .dropdownHid {
    display: none;
}

.navbar .dropdown {
    color: #fff;
    position: absolute;
    top: 60px;
    right: 3vw;
    display: block;
    width: 180px;
    height: auto;
    background-color: #5b4732;
}

.navbar .dropdown ul {
    list-style: none;
    display: block;
}

.navbar .dropdown ul li {
    display: block;
}

.navbar .dropdown ul li a {
    color: #fff;
}

/* LOGIN  */
.login {
    display: flex;
    justify-content: center;
    background: #F3DEBA;
    margin: auto;
    min-height: 100vh;
    align-items: center;
}

.login .whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 150px; */
    /* padding-bottom: 50px; */
}

.login .mainTitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 32px;
}

.login .box {
    box-shadow: 50px;
    width: 546px;
    height: auto;
    max-height: 400px;
    background: #FFFFFF;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    padding: 27px 25px 40px 25px;
}

.login .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #25172E;
    margin-bottom: 11px;
}

.login .textinput {
    width: 90%;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    padding: 12px 25px;

    /* text */
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #A7A7A7;

}

.login .left {
    display: flex;
}

.login label {
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #25172E;
}

.login .remember {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 21px;
}

.login .forgot {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #25172E;
}

.login button {
    display: flex;
    justify-content: center;
    background: #C38A8A;
    border-radius: 16px;
    width: 100%;
    padding: 16.5px 0;

    /* Text */
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.login button:hover {
    background: #ab7676;
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.login .regis {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #25172E;
    margin-top: 37px;
}

.login .regis a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #25172E;
    text-decoration: none;
}


/* FOOTER */
.footer {
    /* background: #A97E88; */
    text-align: center;
    width: 100vw;
}

.footer .whole {
    padding: 30px 80px 40px 80px;
}

.footer .title {
    font-weight: 700;
    font-size: 38.5146px;
    line-height: 120%;
    color: #42290E;
}

.footer .desc a {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    color: #000000;
    margin-top: 30px;
}

.footer .kontak {
    /* display: flex; */
    margin: 0;
    float: right;
    font-weight: 700;
    font-size: 22.5px;
    line-height: 120%;
    color: #000000;
    padding-right: 30px;
}

.footer .kontak.hid {
    display: none;
}

.footer .bottom {
    margin-top: 15px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.footer .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    /* margin-top: 24px; */
}

@media screen and (max-width: 800px) {

    /* NAVBAR */
    .navbar .left {
        margin-left: 5vw;
    }

    .navbar .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: block;
        margin-right: 5vw;
    }

    .navbar .hamburger2 {
        transform-origin: top left;
        display: block;
        transform: rotate(90deg);
    }

    /* LOGIN  */
    .login .box {
        width: 80vw;
        max-width: 450px;
    }

    .login .textinput {
        width: 85%;
    }

    /* .login .remember{
        display: block;
    } */
    .login .forgot {
        font-size: 13px;
    }

    .login button {
        font-size: 12px;
        padding: 6px 0;
    }

    .login .regis {
        font-size: 12px;
        margin-top: 15px;
    }

    .login .regis a {
        font-size: 12px;
    }


    /* FOOTER  */
    .footer .bottom {
        display: block;
    }

    .footer .text {
        margin-bottom: 10px;
    }

    .footer .kontak.show {
        display: none;
    }
    .footer .kontak.hid{
        padding: 0%;
        text-align: center;
        float: none;
        display: block;
        margin-bottom: 10px;
        font-size: 17px;
    }
}