@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

* {
    font-family: 'Sora';
    margin: 0%;
    padding: 0%;
    /* width: 100vw; */
}

html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}


/* NAVBAR */
.navbar {
    z-index: 999999999;
    width: 100vw;
    height: auto;
    position: fixed;
    align-items: center;
    background-color: #A9907E;
    display: flex;
    justify-content: space-between;
    /* padding: 0 30px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0%;
}


.navbar ul li a {
    margin: 20px 26px;

    /* text */
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;

}

.navbar ul li a::after {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #f9e4cc;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.3s;
}

.navbar .left {
    margin: 29px 0;
    margin-left: 80px;
}

.navbar .right {
    margin: 14px 0;
}

.navbar .profile {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    background: #42290E;
    border-radius: 100px;
    margin-right: 80px;

    /* text */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.navbar .hamburger {
    display: none;
}

.navbar .dropdownHid {
    display: none;
}

.navbar .dropdown {
    color: #fff;
    position: absolute;
    top: 60px;
    right: 3vw;
    display: block;
    width: 180px;
    height: auto;
    background-color: #5b4732;
}

.navbar .dropdown ul {
    list-style: none;
    display: block;
}

.navbar .dropdown ul li {
    display: block;
}

.navbar .dropdown ul li a {
    color: #fff;
}


/* POP UP */
.hide {
    display: none;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    padding: 24px 0;
    background: #C88E7A;
    border: 1px solid #000000;
    border-radius: 22px;
    width: 80vw;
    max-width: 651px;
    max-height: 501px;
}

.popup .title {
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
}

.popup img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}


/* SECTION 1 */
.section1 {
    background: #F2E2D6;
}

.section1 .whole {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 160px 5vw 98px 5vw;
}

.section1 .left {
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 12px;
    /* margin: auto; */
    width: auto;
    margin-right: 5vw;
}

.section1 .left h3 {
    margin: 0;
    padding-top: 48px;
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
}

.section1 .left img {
    justify-content: center;
    display: flex;
    margin: auto;
    width: 85%;
    max-width: 514px;
    max-height: 561px;
}

.section1 .semua-box {
    display: block;
}

.section1 .box-1 {
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 63px 50px 45px 50px;
    margin-bottom: 25px;
}

.section1 .top,
.section1 .bottom {
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
}

.section1 .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: 25px;
}

.section1 .price {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #98A6B9;
}

.section1 button {
    background: #F2E2D6;
    border: 1px solid #000000;
    border-radius: 100px;
    width: 100%;
    padding: 14px 20px;

    /* TEXT */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.section1 .box-2 {
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 30px 60px 20px 60px;
}

.section1 .right img {
    margin-top: 22px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}


/* FOOTER */
.footer {
    background: #A97E88;
    text-align: center;
    width: 100vw;
}

.footer .whole {
    padding: 30px 80px 40px 80px;
}

.footer .title {
    font-weight: 700;
    font-size: 38.5146px;
    line-height: 120%;
    color: #42290E;
}

.footer .desc a {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    color: #000000;
    margin-top: 30px;
}

.footer .bottom {
    display: flex;
    justify-content: space-between;
}

.footer .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin-top: 24px;
}


@media screen and (max-width: 1400px)and (min-width: 800px) {
    .section1 .whole {
        display: block;
    }

    .section1 .left {
        margin: auto;
        width: 40vw;
        margin-bottom: 50px;
    }

    .section1 .right {
        margin: auto;
    }

    .section1 .box-1 {
        margin: auto;
        width: 50vw;
        margin-bottom: 25px;
    }

    .section1 .box-2 {
        margin: auto;
        width: 50vw;
    }
}

@media screen and (max-width: 800px) {

    /* NAVBAR */
    .navbar .left {
        margin-left: 5vw;
    }

    .navbar .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: block;
        margin-right: 5vw;
    }

    .navbar .hamburger2 {
        transform-origin: top left;
        display: block;
        transform: rotate(90deg);
    }

    /* SECTION 1 */
    .section1 .whole {
        display: block;
    }

    .section1 .left {
        margin: auto;
        width: 70vw;
        margin-bottom: 50px;
        max-width: 400px;
    }

    .section1 .left h3 {
        font-size: 24px;
    }

    .section1 .right {
        margin: auto;
    }

    .section1 .box-1 {
        margin: auto;
        width: 60vw;
        margin-bottom: 25px;
        padding: 30px;

    }

    .section1 .top {
        display: block;
    }

    .section1 .bottom {
        display: block;
    }

    .section1 button {
        font-size: 14px;
        padding: 6px;
    }

    .section1 .box-2 {
        margin: auto;
        width: 60vw;
        padding: 30px;
    }

    .section1 .title,
    .section1 .price {
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
        font-size: 16px;
    }

    /* FOOTER  */
    .footer .bottom {
        display: block;
    }

    .footer .text {
        margin-bottom: 10px;
    }
}